.main-div{
    text-align: center;
}

input{
    margin: 10px;
    width: 250px;
    height: 30px;
    font-size: 18px;
}

button{
    cursor: pointer;
    height: 30px;
    width: 120px;
    margin: 5px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}